@charset "UTF-8";

body {
    background-color: #4eec9a;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(0deg, #1a5b39, #4eec9a);
    color: white;
    margin: -8px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;

}

nav{
    text-align: justify;
    margin-left: 30px;
}

nav > a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
    font-weight: bold;
}
main {
    width: 850px;
    margin: auto;
    text-align: justify;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    
}

.video {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 850px;
    height:395px;
    background-color: #1a5b39;
    
}
.tabela {
    background-color: #96ebbf;
    border-radius: 10px;
    padding: 3px;
}

.tabela > h3{
background-color: #1a5b39;
}

.tabela > p > a {
    color: #07351d;
    text-decoration: none;  
}
.tabela > p > a::after {
    
}



footer {
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    background-color: #1a5b39;
    color: white;
    margin: -8px;
    text-align: center;
    
}
